@charset "utf-8";

/* CSS Document */
body{
	margin:0px;
	padding:0px;
}

#piechart_3d{
	position: relative; 
}

.legenda{
	position: absolute; 
	top: 350px; 
	left: 1400px; 
	z-index:2;
	color: black;
	font-size: 36px;
	/*line-height: 1.5;*/
}

.progress{
	margin-bottom: 0px;
	height: 54px;
	
}

#result{
	font-size: 36px;
	color: black;
	float: right;
	position: absolute;
	top:330px;
	left: 100px;
}

.red{
color: red;
}

.blue {
color: blue;
}

.titul{
	width:100%;
	text-align: center;
	margin-top: 0px;
	position: absolute; 
	top: 0px; 
	left: 0px; 
	z-index:2;
	color: black;
	font-size: 96px;
	font-family: Vernada;
}
/*
.wrapper{
	width:100%;
	position: absolute; 
	bottom: 0px; 
	left: 0px;
	
}
*/

.wrapper{
	width:100%;
	
}

.minPadd{
	margin:0px;
}
.topPanel{
	width:100%;
	position: absolute; 
	bottom: 0px; 
	left: 0px;
	
}

.rightPanel{
	position: absolute; 
	top: 0px; 
	right: 0px; 
	z-index:0;
	background: #e6e6e6;
	width:20%;
	height: 100%;
}

#columnchart_material{
	position:absolute;
	left:100px;
	top:200px;
}

.legenda_col{
	position: absolute; 
	top: 350px; 
	right: 50px; 
	z-index:2;
	color: black;
	font-size: 36px;
	/*line-height: 1.5;*/
}

.columns{
	margin-top: 115px;
}

.str{
	background-color: #337ab7;
	color: white;
	height: 54px;
}

.logo{
	position: absolute; 
	top: 0px; 
	left: 0px; 
	z-index:1;
}


.MessageBlock{
	margin-top: 15px;
	border: 1px solid #A83B2D;
	background: #D44B38;
	padding: 10px;
	color: #fff;
}

.zast{
	width:100%;
	margin: auto;
	position: absolute; 
	top: 0px; 
	left: 0px; 
	z-index:1;	
}

.zast p{
	color: black;
	font-size: 16px;
}

.ChatBox{
	height: 340px;
	overflow: auto;
	border: 1px solid #dddddd;
}

.ChatBlock{
	border: 1px solid #dddddd;
	background: #f2f2f2;
	padding: 10px;
	color: #000000;
	margin: 10px;
}

.ChatBlock span{
	color: #828282;
	font-size: 10px;
	display: block;
}

.ChatMessage{
	width: 340px; 
	height: 50px; 
	resize: none;
	padding: 5px;
}

.Page{
	padding-top: 30px;
}

#facebook, #livestrim, #youtube, #instagram, #periscope{
	padding-top: 25px;
	font-size: 15px;
	color: blue;
}


.showHidden{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#phoneBoxHidden{
    display: none;
}


/* Стили для видеофона */

#video-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: 0;
	background: url(bg/daisy-stock-poster.jpg) no-repeat #94a233;
	background-size: cover;
}

#video-bg > video {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto;
	height: auto; 
}


/* Проверка на поддержку свойства object-fit: */

 @supports (object-fit: cover) {
     #video-bg > video {
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
     }
 }


/* Отключение видео для устройств с размером экрана менее 800px: */

@media screen and (max-device-width: 800px) {
	#video-bg > video {
		display: none;
		}
	}

	
.section__list {
    padding: 40px 0 0;
    overflow: hidden;
}
.section__list li.list1 {
    background-image: url("img/pr1.png");
}
.section__list li.list2 {
    background-image: url("img/pr2.png");
}
.section__list li.list3 {
    background-image: url("img/pr3.png");
}
.section__list li.list4 {
    background-image: url("img/pr4.png");
}
.section__list li.list5 {
    background-image: url("img/pr5.png");
}
.section__list li.list6 {
    background-image: url("img/pr6.png");
}


.section__list ul li {
    list-style: none;
}
.section__list li {
    float: left;
    width: 33.33%;
    text-align: center;
    line-height: 22px;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 80px;
    margin: 0 0 35px;
}