@charset "utf-8";

/* CSS Document */
body{
	margin:0px;
	padding:0px;
}

#piechart_3d{
	position: relative; 
}

.legenda{
	position: absolute; 
	top: 350px; 
	left: 1400px; 
	z-index:1;
	color: black;
	font-size: 36px;
	/*line-height: 1.5;*/
}
.progress{
	margin-bottom: 0px;
	height: 54px;
	
}
#result{
	font-size: 36px;
	color: black;
	float: right;
	position: absolute;
	top:330px;
	left: 100px;
}

.red{
color: red;
}
.blue {
color: blue;
}

.titul{
	width:100%;
	text-align: center;
	margin-top: 0px;
	position: absolute; 
	top: 0px; 
	left: 0px; 
	z-index:1;
	color: black;
	font-size: 96px;
	font-family: Vernada;
}

.wrapper{
	width:100%;
	position: absolute; 
	bottom: 5px; 
	left: 0px;
	
}


#columnchart_material{
	position:absolute;
	left:100px;
	top:200px;
}
.legenda_col{
	position: absolute; 
	top: 350px; 
	right: 50px; 
	z-index:1;
	color: black;
	font-size: 36px;
	/*line-height: 1.5;*/
}
.columns{
	margin-top: 115px;
}
.str{
	background-color: #337ab7;
	color: white;
	height: 54px;
}
.logo{
	position: absolute; 
	top: 0px; 
	right: 0px; 
	z-index:1;
}